<h4 class="headings_right heading_info">{{ blog_heading_title }}</h4>
<div class="row">
   {% for article in articles %}
  <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12"  >
    <div class="product-thumb transition"  >
      <div class="image"><a href="{{ article.href }}"><img src="{{ article.thumb }}" alt="{{ article.name }}" title="{{ article.name }}" class="img-responsive" /></a></div> 
      <div class="caption" >
        <h4><a href="{{ article.href }}">{{ article.title }}</a></h4>
        <p>{{ article.description }}</p>
      </div>
      <div class="button-group">
        <button type="button" onclick="location.href='{{ article.href }}'"><i class="fa fa-book"></i> <span class="hidden-xs hidden-sm hidden-md">{{button_blog_continue}}</span></button>
      </div>
    </div>
  </div>
  {% endfor %}
</div>