{{ header }}
<div id="common-home" class="container">
    <div class="row">{{ column_left }}
        {% if column_left and column_right %}
            {% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}
            {% set class = 'col-sm-9' %}
        {% else %}
            {% set class = 'col-sm-12' %}
        {% endif %}
        <div id="content" class="{{ class }}">{{ content_top }}
            <div id="cms-blog-info">
                <div class="">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="blog-item">
                                <section>
                                    <h2 class="blog-title">{{single_article.title}}</h2>
                                    <div class="pull-right socials">
                                    <div id="share" ></div>
                                    <link rel="stylesheet" type="text/css" href="catalog/view/theme/default/stylesheet/jssocials.css" />
                                    <link rel="stylesheet" type="text/css" href="catalog/view/theme/default/stylesheet/jssocials-theme-flat.css" />
                                    <script src="catalog/view/javascript/jquery/jssocials.js"></script>
                                    <script>
                                    $("#share").jsSocials({
                                    shares: ["twitter", "facebook", "googleplus", "whatsapp"]
                                    });
                                    </script>
                                    </div>
                                    <ul class="list-unstyled" style="padding-top:12px;">
                                        <li>{{word_by}} <a href="">{{single_article.firstname}} {{single_article.lastname}}</a></li>
                                        <li>{{single_article.created_at}}</li>
                                        <li><a onclick="document.getElementById(&#39;comment-input-box&#39;).scrollIntoView(true);" href="javascript:void(0);">{{ countComments }} {{word_comments}}</a></li>
                                    </ul>
                                    <div class="blog-image">
                                    <img src="{{ single_article.blog_image }}" title="{{ heading_title }}" alt="{{ heading_title }}"
                                    />
                                    </div>
                                    
                                
                                    <div class="blog-excerpt">{{ single_article.description}}</div>
                                    {% if products is not empty  %}
                                    <h3>{{ heading_title }} </h3>
                                    {% endif %}
                                    <div class="row">
                                        {% for product in products %}
                                            <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                                <div class="product-thumb transition">
                                                    <div class="image"><a href="{{ product.href }}" target="__blank"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a></div>
                                                    <div class="caption">
                                                        <h4><a href="{{ product.href }}" target="__blank">{{ product.name }}</a></h4>
                                                        <p style="font-size:12px !important">{{ product.description }}</p>
                                                     
                                                        {% if product.price %}
                                                            <p class="price" style="font-size:12px !important">
                                                                {% if not product.special %}
                                                                    {{ product.price }}
                                                                {% else %}
                                                                    
                                                                {% endif %}
                                                                {% if product.tax %}
                                                                    <span class="price-tax" style="font-size:12px !important">{{ text_tax }} {{ product.tax }}</span>
                                                                {% endif %}
                                                            </p>
                                                        {% endif %}
                                                    </div>
                                                    <div class="button-group">
                                                        <button type="button" onclick="cart.add('{{ product.product_id }}');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span></button>
                                                        <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>
                                                        <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div id="share2" ></div>
                                    <script>
                                    $("#share2").jsSocials({
                                    shares: ["twitter", "facebook", "googleplus", "whatsapp"]
                                    });
                                    </script>
                                </section>
                                
                            </div>
                       {% if logged_id is not empty %}
                            <div id="comment-input-box"><div class="media comments">
                                <div class="alert alert-success success_alert" style="display:none">
                                    <strong>Success!</strong> Your comment has been submitted for approval
                                </div>
                                
                                <div class="media-left"><img src="https://image.opencart.com/cache/58242ec05b571-resize-60x60.jpg" alt="osm446" title="osm446" class="media-object"></div>
                                    <div class="media-body">
                                        <div class="form-group">
                                        <label for="input-comment">{{leave_comment_heading}}</label>
                                        <label for="input-comment">Leave your comment</label><span class="error"></span>

                                        <textarea placeholder="Write your comment here..." id="input-comment" class="form-control" rows="4"></textarea>
                                        </div>
                                        <div class="text-right">
                                        <button type="button" id="button-comment" class="btn btn-primary btn-sm">{{button_Comment}}</button>
                                        </div>
                                    </div>
                         </div> 
                             </div> 
                          {% else %} 
                             <div id="comment-input-box">
                                <div class="login-layer">
                                    <p class="write_comment_heading">Login and write down your comment.</p>
                                    <p><a href="{{user_login}}" class="btn btn-primary login_my_acc">LOGIN MY OPENCART ACCOUNT</a></p>
                                </div>
                                <div class="media">
                                    <div class="media-left"><img src="https://image.opencart.com/cache/58242ec05b571-resize-60x60.jpg" alt="" title="" class="media-object"></div>
                                    <div class="media-body">
                                        <div class="form-group">
                                            <label for="input-comment ">Leave your comment</label>
                                            <textarea rows="3" placeholder="Write your comment here..." id="input-comment" class="form-control"></textarea>
                                        </div>
                                        <div class="text-right">
                                            <button type="button" id="button-comment" class="btn btn-primary btn-sm">Comment</button>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                       {% endif %} 
                            <br> <br>
                            <div id="comment-box">
                                {% for comment in comments %}
                                {% if comment.comment_parent_id == 0 %}
                                <div id="comment{{ comment.comment_id }}" class="media" >
                                    <div class="media-left"><img src="https://image.opencart.com/cache/58242ec05b571-resize-60x60.jpg" alt="osm446" title="osm446" class="media-object"></div>
                                    <div class="media-body"> <p class="media-heading">{{ comment.customer_name }} <span>{{ comment.comment_date }}</span></p>
                                        <p id="{{ comment.comment_id }}">{{ comment.comment }}</p>
                                        <div class="reply">
                                            <div class="reply-box">
                                                <div class="replies" style="display:none" data-reply="{{ comment.comment_id }}" > 
                                                    <div class="media" >
                                                    </div>
                                                </div>
                                            </div>
                                                 <p class="text-left" style="margin-top:-15px;" >
                                                    <button type="button"class="btn btn-link btn-md show-replies" id="{{ comment.comment_id }}">{{button_show_reply}}</button>
                                                    <button type="button"class="btn btn-link btn-md hide-replies" id="{{ comment.comment_id }}" style="display:none">{{button_hide_reply}}</button>
                                                </p>
                                                
                                             {% if logged_id is not empty %}
                                            <div class="reply-input-box" style="display: none;" data-id="{{ comment.comment_id }}">
                                                <div class="media">
                                                    <div class="media-left"><img src="https://image.opencart.com/cache/58242ec05b571-resize-60x60.jpg" alt="osm446" title="osm446" class="media-object"></div>
                                                    <div class="media-body">
                                                    <div class="form-group">
                                                    <label for="input-comment3326">{{leave_comment_heading}}</label>
                                                    <label for="input-comment3326">Leave your comment</label><span class="error2"></span>
                                                    <textarea name="comment" placeholder="Write your comment here..." id="{{ comment.comment_id }}" class="form-control"></textarea>
                                                    </div>
                                                    <div class="text-right"><button class="btn btn-primary btn-sm reply_btn"  id="{{ comment.comment_id }}">{{button_Comment}}</button></div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                {% endif %}{% endfor %}
                                                    </br> </br> </br>
                                                    <div class="text-center"></div>
                                                    </div>

                            {% if comments is not empty %}
                            <div class="row">
                                <div class="col-sm-6 text-left">{{ results }}</div>
                                 <div class="col-sm-6 text-right">{{ pagination }}</div>
                            </div>
                            {% endif %}
                            </br>
                        </div>
                    </div>
                </div>
            </div>
           
        {{ content_bottom }}</div>
        {{ column_right }}
    </div>
</div>

{{ footer }}
<script>

$(document).ready(function() {
    //search
    $('#button-search').bind("click", function(){
    url = 'index.php?route=extension/blog/blog_list';
    var keywords =  $('input[name=filter_search]').val();
    
    if (keywords) {
        url += '&filter_search=' + encodeURIComponent(keywords);
    }

    location = url;
    
});
    //save comment
    $("#button-comment").on("click", function(){
        var newComment = $("#input-comment").val();
        var allow_comments = {{ allow_comments }};
        var user_name = '{{ user_name }}';
        if( newComment.length > 2)
        {
            if(allow_comments == 1){
                var data = { 
                'comment'   : newComment,
                'article_id': {{ single_article.article_id }},
                'status' : '1' 
                };
            }
            else {
               var data = { 
                'comment'   : newComment,
                'article_id': {{ single_article.article_id }},
                'status' : '0' 
                };
            }
           


            $.ajax({ 
                type       : 'POST',
                url        : '{{ save_comment_url }}',
                data       : data,
                dataType   : 'json',
                success    : function(data) {   
                    $("#input-comment").val('');
                    $(".error").empty();
                    
                    if( allow_comments == 1 )
                    {
                         $("div#comment-box").prepend("<div id='comment"+data.id+"' class='media well-2' ><div class='media-left'><img src='https://image.opencart.com/cache/58242ec05b571-resize-60x60.jpg' alt='osm446' title='osm446' class='media-object'></div><div class='media-body'> <p class='media-heading'>"+user_name+"<span>2018-10-17 12:09:27</span></p><p id='"+data.id+"'>"+newComment+"</p><div class='reply'><div class='reply-box'><div class='replies' style='display:none' data-reply='"+data.id+"' > <div class='media' ></div></div></div><p class='text-left' > <button type='button' class='btn btn-link btn-md show-replies' id='"+data.id+"'>Show Replies</button><button type='button'class='btn btn-link btn-md hide-replies' id='"+data.id+"' style='display:none'>Hide Replies</button></p><div class='reply-input-box' style='display: none;' data-id='"+data.id+"'><div class='media'><div class='media-left'><img src='https://image.opencart.com/cache/58242ec05b571-resize-60x60.jpg' alt='osm446' title='osm446' class='media-object'></div><div class='media-body'><div class='form-group'><label for='input-comment3326'>Leave your comment</label><textarea name='comment' placeholder='Write your comment here...' id='"+data.id+"' class='form-control'></textarea></div><div class='text-right'><button class='btn btn-primary btn-sm reply_btn'  id='"+data.id+"'>Comment</button></div></div></div></div></div></div></div>");
                    }
                    else{
                        $(".success_alert").show();
                    }

                }
            });
        }
        else {
            $(".error").html("<p style='color:red'>Your comment must be at least 3 character long</p>");
        }

    });
   

//hide replies

    $(document).on("click", 'button.hide-replies', function(){
        $(this).hide();                                             //hides 'hide replies' button
        var comment_id = $(this).attr("id");
        $("button[id='"+comment_id+"'].show-replies").show();       //shoes 'show replies' button
        $("div[data-reply='"+comment_id+"'] div.media").empty();    
        $("div[data-reply='"+comment_id+"']").hide();
        $("div[data-id='"+comment_id+"']").hide();
    });


//show replies
    $(document).on("click", 'button.show-replies', function(){
        var comment_id = $(this).attr('id');
        $(this).hide();                                                 //hide 'show replies' button
        $("div[data-reply='"+comment_id+"']").show();                   // show repliesbox
        $("button[id='"+comment_id+"'].hide-replies").show();           //show 'hide replies' button
        
        var commentData = { 
                'comment_id' : comment_id,
                'comment_article_id' : {{ single_article.article_id }}
        };
   
        $.ajax({ 
            type        : 'GET',
            url         : '{{ get_replies_url }}', 
            data        : commentData ,
            dataType    : 'json',
            success     : function(reply) {
           
            $.each(reply, function (index, value) {
                $("div[data-reply='"+comment_id+"'] div.media").append("<div class='media-left'><img src='https://image.opencart.com/cache/58242ec05b571-resize-60x60.jpg' alt='Profile Picture' title='thiago_carvalho' class='media-object'></div> <div class='media-body'><p class='media-heading'>"+value.customer_name+" <span>2018-10-16 16:34:17</span></p><p id='"+value.comment_id+"'>"+value.comment+"</p></div><hr>"); 
                 });

                $("div[data-id='"+comment_id+"']").show();
        }

    });
    });



//save reply
    $(document).on("click", 'button.reply_btn',function(){ 
        var comment_id = $(this).attr("id");
        var reply = $("textarea[id='"+comment_id+"']").val();
        var allow_comments = {{ allow_comments }};
         var user_name = '{{ user_name }}';
        if(allow_comments == 1){
             var data1 = { 
                'reply'     : reply,
                'comment_id': comment_id,
                'comment_article_id' : {{ single_article.article_id }},
                'status' : 1 
            };
        }
        else{
             var data1 = { 
                'reply'     : reply,
                'comment_id': comment_id,
                'comment_article_id' : {{ single_article.article_id }},
                'status' : 0
            };
        }
       

        if( reply.length > 2 ){
        $.ajax({ 
            type        : 'POST',
            url         : '{{ save_reply_url }}', 
            data        : data1,
            dataType    : 'json',
            success     : function(data) {
            $("div[data-reply='"+comment_id+"']").show();    
             $("textarea[id='"+comment_id+"']").val('');
             $(".error2").empty();
        
             if(allow_comments == '1')
             {
               $("div[data-reply='"+comment_id+"'] div.media").append("<div class='media-left'><img src='https://image.opencart.com/cache/58242ec05b571-resize-60x60.jpg' alt='Profile Picture' title='thiago_carvalho' class='media-object'></div> <div class='media-body'><p class='media-heading'>"+user_name+"<span>2018-10-24 19:54:05</span></p><p id=''>"+reply+"</p></div></br></br>");
             }
             else{
                 $(".success_alert").show();
             }

            }
        });
    }
     
    else{
          $(".error2").html("<p style='color:red'>Your comment must be at least 3 character long</p>");
    }
    });

});
</script>

<script type="text/javascript">
$('input[name="filter_search"]').autocomplete({
    'source': function(request, response) {
        $.ajax({
            url: '{{ search_article_url }}&user_token={{ user_token }}&filter=' +  encodeURIComponent(request),
            dataType: 'json',
            success: function(json) {
               
                response($.map(json, function(item) {
                    return {
                        label: item['title'],
                        value: item['href']
                    }
                }));
            }
        });
    },
    'select': function(item) {
        location.href=item['value'];
    }
});


</script>