{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
 
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
        </div>
      <h1>{{ heading_create_category_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i>{{ create_category_heading }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ save_category }}" onsubmit="inputTags()" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
         
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status"Pc>{{ category_title_label }}:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="name" placeholder="Title" value="" required="required">
            </div>
          </div>

            <div class="form-group">
              <label class="col-sm-2 control-label" for="description">{{description}}:</label>
              <div class="col-sm-10">
              <textarea class="form-control" name="description" rows="5" id="description" placeholder="Description" required="required" data-toggle="summernote"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="description">{{featured_image}}:</label>
              <div>
              <a href="#" id="thumb-image" data-toggle="image" class="img-thumbnail"><img src="{{ thumb }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
               <input type="hidden" name="featured_image" value="{{ image }}" id="input-image" /></div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-status">{{meta_title}}</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="meta_title" placeholder="Enter Meta Title" value="" required="required">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-status">{{meta_description}}</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="meta_description" placeholder="Enter Meta Description" value="" required="required">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-status">{{meta_keywords}}</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="meta_keywords" placeholder="Enter Meta Keywords" value="" required="required">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-status">{{category_slug}}:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="category_slug" placeholder="Enter Slug" value="" required="required">
              </div>
            </div>
            <input type="hidden" id="tags2" name="tags"  value="">
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-status">{{tags}}:</label>
              <div class="col-sm-10">
                <div id="my-category-tag-list" class="tag-list"></div>
              </div>
              <label class="col-sm-2 control-label" for="input-status"></label>
              <div class="col-sm-10">
              <p style="color:#01afe8;">Press Enter Key to Add Tags</p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
              <div class="col-sm-10">
                <select name="status" class="form-control">
                  <option value="{{ text_active }}" selected="selected">{{ text_active }}</option>
                  <option value="{{ text_inactive }}">{{ text_inactive }}</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-status"></label>
              <div class="col-sm-10">
                <input type="submit" class="btn btn-info" value="{{ button_save }}" >
              </div>
            </div>

          </div>
        </form>
      </div>
    </div>
</div>
<script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
<link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
<script type="text/javascript" src="view/javascript/summernote/summernote-image-attributes.js"></script> 
<script type="text/javascript" src="view/javascript/summernote/opencart.js"></script>
<script>
  $(function() {
     $('#my-category-tag-list').tags({
      tagData:[],
      suggestions:["basic", "suggestions"],
      tagSize:['lg'],
      promptText:['  Enter tags...'],
    });
    
  });
  
  function inputTags() {
    var values = $('#my-category-tag-list').tags().getTags();
    $("input#tags2").val(values);  
  }  
</script>
{{ footer }}