{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button  class="btn btn-disabled btn-danger" {% if articles is empty %}disabled{% endif %}  title="{{ empty_trash }}" onclick='confirm_empty_trash("{{ empty_trash_url }}");return false;'><span class="fa fa-trash"></span> {{ empty_trash }}</button>
        </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
   
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i>{{ trash_articles_list }}</h3>
      </div>
      <div class="panel-body">
        <table class="table table-bordered " id="myTable">
          <thead>
            <tr>
              <td class="text-center">{{ column_image }}</td>
              <td>{{ post_title }}</td>
              <td>{{ text_tags }}</td>
              <td>{{ text_category }}</td>
              <td>{{ date_publish }}</td>
              <td class="text-right">{{ text_action }}</td>
            </tr>
          </thead>    
          {% for article in articles %}
          <tbody>
            <tr>
              <td class="text-center"><img src="{{ article.blog_image }}"></td>
              <td>{{ article.title }}</td>
              <td>{{ article.tag }}</td>
              <td>{{ article.name }}</td>
              <td>{{ article.created_at }}</td>
              <td class="text-right"> 
                <a type="link" class="btn btn-primary" href="{{ post_restore_url }}&post_id={{ article.article_id }}" title="{{text_restore }}"><span class="fa fa-undo"></span></a>
                <a  class="btn btn-danger" href="#" title="{{ text_delete }}" onclick='confirm_delete("{{ post_delete_url }}&post_id={{ article.article_id }}");return false;'><span class="fa fa-trash"></span></a>
              </td>
            </tr>
          </tbody>
          {% endfor %}
        </table>
        <div class="row">
          {% if articles is empty %}
                <div class="col-sm-6 text-left">{{ text_empty_trash }}</div>
          {% else %}
              <div class="col-sm-6 text-left">{{ results }}</div>
              <div class="col-sm-6 text-right">{{ pagination }}</div>
          {% endif %}
        </div>
      </div>
    </div>   
  </div>
</div>  

<script>
function confirm_delete(post_delete_url) {
  var msg=confirm("Are you sure you want to delete ?");
  if (msg==true)
  {
    window.location.href = post_delete_url;
  }
}
function confirm_empty_trash(empty_trash_url) {
  var msg=confirm("Are you sure you want to empty trash ?");
  if (msg==true)
  {
    window.location.href = empty_trash_url;
  }
}
</script>

{{ footer }}